{% extends "user/edit.html" %}

{% import 'macros/form.html' as form %}

{% block breadcrumb_content %}
  <li><a href="{{ h.url_for(controller='user', action='index') }}">{{ _('Users') }}</a></li>
  <li><a href="{{ h.url_for(controller='user', action='read', id=c.user) }}">{{ c.user }}</a></li>
  <li><a href="{{ h.url_for(controller='user', action='edit', id=c.user) }}">{{ _('Manage') }}</a></li>
  <li class="active"><a href="#">Setup Two Factor Authentication</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1>Setup Two Factor Authentication</h1>
  <p>
    Your device has been verified, two factor authentication is now
    enabled on your account.
  </p>
  <p>
    You can add additional devices on the management page.
  </p>
{% endblock %}
